{% extends "layouts/question.html" %}

{% set pageName = "Home" %}

{% block question %}

    {{ govukRadios({
        name: "choose-one-from-a-list",
        hint: {
            text: 'Hint text'
        },
        fieldset: {
            legend: {
            text: "Yes or no",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "yes",
                text: "Yes"
            },
            {
                value: "no",
                text: "No"
            }
        ]
    }) }}

    {{ 
        govukButton({
            text: "Save and continue"
        }) 
    }}

{% endblock %}