{% extends "layouts/base.html" %}

{% block content_primary %}

    {% set option5HTML %}
    {{ govukTextarea({
            id: "option-5-text",
            name: "option5text",
            classes: "govuk-!-width-full",
            label: {
                text: "Option 5 text area"
            }
        }) }}
    {% endset -%}

    {{ govukCheckboxes({
        name: "choose-mutliple-from-a-list",
        hint: {
            text: 'Hint text'
        },
        fieldset: {
            legend: {
            text: "Choose mutliple from a list",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "option-1",
                text: "Option 1"
            },
            {
                value: "option-2",
                text: "Option 2"
            },
            {
                value: "option-3",
                text: "Option 3"
            },
            {
                value: "option-4",
                text: "Option 4"
            }
        ]
    }) }}

    {{ 
        govukButton({
            text: "Save and continue"
        }) 
    }}

{% endblock %}