{% extends "layouts/form.html" %}
{% set title = "Who asked for it?" %}
{% set hint = "This should be the specific person, team or organisation" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukInput({
    id: fieldName,
    name: fieldName,
    label: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl"
    },
    hint: {
        text: hint
    },
    value: fieldValue
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}