{% extends "layouts/form.html" %}
{% set title = "Which 2024 focus area does the request support?" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukRadios({
      name: fieldName,
      hint: {
        text: 'We want to tie it back to programme goals where possible'
      },
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        "75 authorities using modern software" | radioItem({ data: data.questions, question: this_id }),
        "Faster local plans" | radioItem({ data: data.questions, question: this_id }),
        { divider: 'or'},
        "Other" | radioItem({ data: data.questions, question: this_id })
      ]
    }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}