{% extends "layouts/form.html" %}
{% set title = "Where will or should the data be used?" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: "This is where we expect the data to be used for this (primary?) planning consideration but also cross referencing with other considerations"
    },
    value: fieldValue
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}