{% extends "layouts/form.html" %}
{% set title = "Who are some of the likely secondary users of the data?" %}
{% set hint = "These are actors who may find the data useful, but are not the statutory user - tick list of common users + other box" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukCheckboxes({
    name: fieldName,
    hint: {
      text: hint
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "Item" | checkItem({ data: data.questions, question: this_id }),
      "Another item" | checkItem({ data: data.questions, question: this_id }),
      "Thing" | checkItem({ data: data.questions, question: this_id }),
      "Tick item" | checkItem({ data: data.questions, question: this_id }),
      {
        divider: "or"
      },
      "Other" | radioItem({ data: data.questions, question: this_id })
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}