{% extends "layouts/form.html" %}
{% set title = "What is the driver for the request?" %}
{% set hint = "Trying to work out why this is a request now" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}
  {{ govukRadios({
    name: fieldName,
    hint: {
      text: hint
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "National policy change" | radioItem({ data: data.questions, question: this_id }),
      "Ministerial priority" | radioItem({ data: data.questions, question: this_id }),
      "Specific user requirement" | radioItem({ data: data.questions, question: this_id }),
      "LPA requirement" | radioItem({ data: data.questions, question: this_id }),
      "Existing planning requirement" | radioItem({ data: data.questions, question: this_id }),
      {
        divider: "or"
      },
      "Other" | radioItem({ data: data.questions, question: this_id })
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
{% endblock %}