{% extends "layouts/form.html" %}
{% set title = "Which 2024 focus area does the request support?" %}
{% set fieldName = title | generateId %}

{% block form %}

  {{ govukRadios({
      name: fieldName,
      hint: {
        text: 'We want to tie it back to programme goals where possible'
      },
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        "75 authorities using modern software" | radioItem({ data: data, question: fieldName }),
        "Faster local plans" | radioItem({ data: data, question: fieldName }),
        { divider: 'or'},
        "Other" | radioItem({ data: data, question: fieldName })
      ]
    }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}