{% extends "layouts/form.html" %}
{% set title = "What is the driver for the request?" %}
{% set fieldName = title | generateId %}

{% block form %}
  {{ govukRadios({
    name: fieldName,
    hint: {
      text: "Trying to work out why this is a request now"
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "National policy change" | radioItem({ data: data, question: fieldName }),
      "Ministerial priority" | radioItem({ data: data, question: fieldName }),
      "Specific user requirement" | radioItem({ data: data, question: fieldName }),
      "LPA requirement" | radioItem({ data: data, question: fieldName }),
      "Existing planning requirement" | radioItem({ data: data, question: fieldName }),
      {
        divider: "or"
      },
      "Other" | radioItem({ data: data, question: fieldName })
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}