{% extends "layouts/form.html" %}
{% set title = "What is the driver for the request?" %}

{% block form %}
  {{ govukRadios({
    name: "driver",
    hint: {
      text: "Trying to work out why this is a request now"
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "National policy change" | radioItem,
      "Ministerial priority" | radioItem,
      "Specific user requirement" | radioItem,
      "LPA requirement" | radioItem,
      "Existing planning requirement" | radioItem,
      {
        divider: "or"
      },
      "Other" | radioItem,
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}