{% extends "layouts/main.html" %}

{% set pageName = "Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Interaction patterns library
      </h1>

      <p class="govuk-body">A library of design patterns for tools and software developed by the Digital Planning, Leasehold Land & Planning Systems teams.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Asking for information</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a href="/pattern/add-to-a-list/">Add to a list</a>
        </li>
        <li>
          <a href="/pattern/choose-one-from-a-list/">Choose one from a list</a>
        </li>
        <li>
          <a href="/pattern/choose-multiple-from-a-list/">Choose multiple from a list</a>
        </li>
        <li>
          <a href="/pattern/choose-multiple-from-a-list-other/">Choose multiple from a list + other</a>
        </li>
        <li>
          <a href="/pattern/free-text/">Free text</a>
        </li>
        <li>
          <a href="/pattern/yes-no/">Yes or no</a>
        </li>
        <li>
          <a href="/pattern/yes-no-narrative/">Yes or no + narrative</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}