{% extends "layouts/form.html" %}
{% set title = "Do we understand how the data is created/produced?" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: "What is the recipe? How do we think the publisher does this?"
    },
    value: fieldValue
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}