{% extends "layouts/form.html" %}
{% set title = "Do we understand how the data is created/produced?" %}
{% set fieldName = title | generateId %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: "What is the recipe? How do we think the publisher does this?"
    },
    value: data[fieldName] or ''
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}