{% extends "layouts/form.html" %}
{% set title = "What other planning considerations does it interact with?" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}
{% set hint = "List such as Article 4 Directions, Permitted Development Rights etc" %}

{% block form %}

  {% if data.interactions | length %}
    <h1 class="govuk-heading-m govuk-!-margin-bottom-x">You have added {{ data.interactions | length }} consideration{{ data.interactions | length | pluralise }}</h1>
    <hr class="govuk-section-break govuk-section-break--m">
    <ol class="app-itemised-list">
      {% for interaction in data.interactions %}
        <li class="app-itemised-list__item">
          <div class="app-itemised-list__item__text">{{ interaction }}</div>
          <div class="app-itemised-list__item__action">{{ 'Remove' }}</div>
        </li>
      {% endfor %}
    </ol>
    <hr class="govuk-section-break govuk-section-break--m">
    {{ govukRadios({
      name: 'add_another',
      fieldset: {
        legend: {
          text: 'Would you like to add another planning consideration?',
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        "Yes" | radioItem,
        "No" | radioItem
      ]
    }) }}
  {% endif %}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}