{% extends "layouts/form.html" %}
{% set title = "Does it interact with any other planning considerations?" %}
{% set fieldName = 'RM04' %}
{% set hint = "Explanation here" %}

{% block form %}

  {{ govukRadios({
    name: fieldName,
    hint: {
      text: hint
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "Yes" | radioItem({ data: data.questions, question: this_id }),
      "No" | radioItem({ data: data.questions, question: this_id })
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}