{% extends "layouts/form.html" %}
{% set title = "How would the (secondary) users use the data?" %}
{% set hint = "You may need to do further user research… at this point" %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: hint
    },
    value: fieldValue
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

{% endblock %}