{% extends "layouts/form.html" %}
{% set title = "What's the value of adding this data to the platform?" %}
{% set hint = "Is this a consideration of the value of DLUHC investing time and effort in getting the data ready and re-publishing" %}

{% block form %}

  {{ govukCheckboxes({
    name: fieldName,
    hint: {
      text: hint
    },
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      "Valuable to Open Digital Planning" | checkItem({ data: data.questions, question: this_id }),
      "Valuable to PropTech" | checkItem({ data: data.questions, question: this_id }),
      "Valuable to central government" | checkItem({ data: data.questions, question: this_id }),
      "Item" | checkItem({ data: data.questions, question: this_id }),
      "Item" | checkItem({ data: data.questions, question: this_id }),
      "Item" | checkItem({ data: data.questions, question: this_id })
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}