{% extends "layouts/form.html" %}
{% set title = "Are there any risks to making this planning consideration data available?" %}
{% set hint = "This could be things like, the multiple sources of data, unclear licensing, lack of legislative driver, poor data quality, poorly defined requirements, ongoing costs on LPA, DLUHC  etc." %}
{% set this_id = title | generateId %}
{% set fieldName = this_id | addQuestion %}
{% set fieldValue = data.questions[this_id] %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: hint
    },
    value: fieldValue
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}