{% extends "layouts/form.html" %}
{% set title = "Where will or should the data be used?" %}
{% set fieldName = title | generateId %}

{% block form %}

  {{ govukTextarea({
    id: fieldName,
    name: fieldName,
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: "This is where we expect the data to be used for this (primary?) planning consideration but also cross referencing with other considerations"
    },
    value: data[fieldName]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}