{% extends "layouts/form.html" %}
{% set title = "What is the driver?" %}

{% block form %}
  {{ govukRadios({
    name: "driver",
    hint: {
      text: "Trying to work out why this is a request now"
    },
    fieldset: {
      legend: {
        text: "Whaty is the driver for the request?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      {
        value: "national policy change",
        text: "National policy change"
      },
      {
        value: "ministerial priority",
        text: "Ministerial priority"
      },
      {
        value: "specific user requirement",
        text: "Specific user requirement"
      },
      {
        value: "LPA requirement",
        text: "LPA requirement"
      },
      {
        value: "existing planning requirement",
        text: "Existing planning requirement"
      },
      {
        divider: "or"
      },
      {
        value: "other",
        text: "Other"
      }
    ]
  }) }}

  {{ data | log }}

  {{ govukButton({
    text: "Continue"
  }) }}
{% endblock %}