{% extends "layouts/main.html" %}

{% block content %}
    <form class="govuk-grid-row" method="post">
        <div class="govuk-grid-column-two-thirds">
            {% block content_primary %}{% endblock %}
        </div>
    </form>
{% endblock %}

{% block footer_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">Utilities</h3>
            <ul class="govuk-list govuk-list--spaced">
                <li>
                    <a href="/manage-prototype/clear-data">Clear data</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}