{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}

{% block header %}
    <div class="app-header">
        <div class="app-header__logo">
            DLUHC
        </div>
        <div class="app-header__service-name">
            {{ serviceName }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="app-footer govuk-!-padding-2">
        <div class="govuk-width-container">
            {% block footer_content %}
                <p class="govuk-body-s">2024</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}