{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}

{% block beforeContent %}
    {% if paths.back %}
        {{ govukBackLink({
        text: "Back",
        href: paths.back
    }) }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="app-header">
        <div class="app-header__container govuk-width-container">
            <div class="app-header__logo">
                DLUHC
            </div>
            <div class="app-header__service-name">
                <a href="/" class="govuk-link" style="color:white;">{{ serviceName }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="app-footer">
        <div class="govuk-width-container">
            {% block footer_content %}
                <p class="govuk-body-s">&copy; Department for Levelling Up, Housing and Communities</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}